# Special Functions in Python

### 1. apply()

In [1]:
import pandas as pd


""".apply()"""
test_grades = [60, 80, 85, 80, 90, 100, 105, 95, 90]
hw_grades = [50, 60, 85, 90, 100, 80, 90, 70, 90]
students = ['Suzy', 'Rob', 'John', 'Salim', 'Holland', 'Howard', 'Carl', 'Serena', 'Megan']
col_names = ['Students', 'Hw_Grades', 'Test_Grades']

student_perf_df = pd.DataFrame(list(zip(students, hw_grades, test_grades)),
                               columns = col_names)

def calc_avg(num1, num2):
    return num1+num2/2

#using a for loop
for idx, row in student_perf_df.iterrows():
   student_perf_df.loc[idx, 'Avg'] = calc_avg(row['Hw_Grades'], row['Test_Grades'])

#using .apply()
'''avg_scores = []
avg_scores =  student_perf_df.apply(lambda row: calc_avg(row['Hw_Grades'], row['Test_Grades']), axis=1)
student_perf_df['Avg'] = avg_scores'''

print(student_perf_df)

  Students  Hw_Grades  Test_Grades    Avg
0     Suzy         50           60   80.0
1      Rob         60           80  100.0
2     John         85           85  127.5
3    Salim         90           80  130.0
4  Holland        100           90  145.0
5   Howard         80          100  130.0
6     Carl         90          105  142.5
7   Serena         70           95  117.5
8    Megan         90           90  135.0

### Example

In [2]:
item=['milk','bread','eggs','butter']
price=[30,50,20,40]
tax=[2,5,1,7]
col_names = ['item', 'price','tax']

grocery_df=pd.DataFrame(list(zip(item, price, tax)), columns=col_names)


final_price = []
final_price = grocery_df.apply(lambda row: row['price'] + ((row['price']*row['tax'])/100), axis=1)
grocery_df['final_price'] = final_price
grocery_df

     item  price  tax  final_price
0    milk     30    2         30.6
1   bread     50    5         52.5
2    eggs     20    1         20.2
3  butter     40    7         42.8

### 2. zip()

In [3]:
"""Zip"""

"""Zip Two lists"""
names = ['Cloud', 'Bruce', 'Clark', 'Grant', "Lana", "Sora", 'Thanos', 'Tony']
age = [25, 30, 32, 15, 76, 26, 28, 42]

mapped_2_lists = zip(names, age)

"""Zip Iterator Tuple Values"""
for idx, (name, age) in enumerate(zip(names, age)):
    print(idx, name, age)

"""Zip Dictionary"""
video_games = ['God of War 4', 'Rainbow 6 Siege', 'Assassins Creed: Vikings']
game_prices = [60.00, 20.00, 40.00]

game_price_dict = {video_games: price for video_games, game_prices 
                   in zip(video_games, game_prices)}
print(game_price_dict)

0 Cloud 25
1 Bruce 30
2 Clark 32
3 Grant 15
4 Lana 76
5 Sora 26
6 Thanos 28
7 Tony 42
{'God of War 4': [30, 50, 20, 40], 'Rainbow 6 Siege': [30, 50, 20, 40], 'Assassins Creed: Vikings': [30, 50, 20, 40]}

### Example

In [4]:
nature=['sky','earth','fire','water','air']
colour=['orange','brown','red','blue','colourless']

zipped = zip(nature,colour)
print(zipped)

for idx in zip(nature,colour):
    print(idx)
    
for idx in zip(nature,colour):
    print(idx, nature, colour)
    
for idx in enumerate(zip(nature,colour)):
    print(idx, nature, colour)
    
for idx, (nat, col) in enumerate(zip(nature,colour)):
    print(idx,nat,col)

zipped_dict = {nature: colour for nature,colour in zip(nature,colour)}
#zipped_dict = {nature: colour for nature,colour in enumerate(zip(nature,colour))}
zipped_dict

<zip object at 0x00000187197833C0>
('sky', 'orange')
('earth', 'brown')
('fire', 'red')
('water', 'blue')
('air', 'colourless')
('sky', 'orange') ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
('earth', 'brown') ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
('fire', 'red') ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
('water', 'blue') ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
('air', 'colourless') ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
(0, ('sky', 'orange')) ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
(1, ('earth', 'brown')) ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
(2, ('fire', 'red')) ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
(3, ('water', 'blue')) ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
(4, ('air', 'colourless')) ['sky', 'earth', 'fire', 'water', 'air'] ['orange', 'brown', 'red', 'blue', 'colourless']
0 sky orange
1 earth brown
2 fire red
3 water blue
4 air colourless

{'sky': 'orange',
 'earth': 'brown',
 'fire': 'red',
 'water': 'blue',
 'air': 'colourless'}

### 3. lambda()

In [5]:
"""Lambda"""

"""Lambda Average"""
num_list = [87, 34, 1, 55, 23, 34, 22, 67, 48, 29, 10, 26]
def calc_avg(num_list):
    return sum(num_list)/len(num_list)

lambda_avg = lambda number_list: sum(number_list)/len(number_list)

print('Standard Avg Function:', calc_avg(num_list), 
      'Lambda Avg Function:', lambda_avg(num_list))

"""Lambda Square"""
def square_num(num1):
    return num1 ** 2

lambda_square = lambda num1: num1 ** 2

print('Standard Square Num:', square_num(5), 
      'Lambda Square Num:', square_num(5))

"""Lambda Odd Number"""
odd_num = lambda num: "even num" if num % 2 == 0 else "odd num"
print('Lambda Odd Number', odd_num(5))

"""Lambda Sorting"""
num_list2 = [43,12,67,89,11,44,0, 98,86,53,67]
lambda_sorting_list = sorted(num_list2, key=lambda x: int(x))
print("Lambda Sorting", lambda_sorting_list)

Standard Avg Function: 36.333333333333336 Lambda Avg Function: 36.333333333333336
Standard Square Num: 25 Lambda Square Num: 25
Lambda Odd Number odd num
Lambda Sorting [0, 11, 12, 43, 44, 53, 67, 67, 86, 89, 98]

### Example

In [6]:
odd_func = lambda num: "odd" if num % 2 != 0 else "even"
odd_func(8)

'even'

### 4. map()

In [7]:
"""Map"""
num_list4 = [1, -1, 5, -10, 20, -60, -80, 30, 23, 56, 91, -99]
def multiply_4(n):
    return n * 4

#need to wrap in list function to avoid returning memory location
muliplied_by_4_list = list(map(multiply_4, num_list4))
print("Lambda", muliplied_by_4_list)

"""Map + Lambda"""
multiplied_by_4_list_lambda = list(map(lambda x: x * 4, num_list4))
print("Map + Lambda", multiplied_by_4_list_lambda)

price = [981.00, 876.75, 573.25, 142.50]
discounts = [.15, .25, .30, .50]
coupons = [5.00, 20.00, 30.00, 15.00]

total_prices = list(map(lambda x, y, z : x*y-z, price, discounts, coupons))
print("Lambda Calculating Total Prices", total_prices)

"""Map List Elements in a List"""
cereal = ['Coco Puffs', 'Cinnamon Toast Crunch', 'Fruity Pebbles', 
          'Cookie Crisp', 'Chex', 'Kix']

listified_cereal = list(map(list, cereal))
print('Listified Cereal', listified_cereal)

Lambda [4, -4, 20, -40, 80, -240, -320, 120, 92, 224, 364, -396]
Map + Lambda [4, -4, 20, -40, 80, -240, -320, 120, 92, 224, 364, -396]
Lambda Calculating Total Prices [142.15, 199.1875, 141.975, 56.25]
Listified Cereal [['C', 'o', 'c', 'o', ' ', 'P', 'u', 'f', 'f', 's'], ['C', 'i', 'n', 'n', 'a', 'm', 'o', 'n', ' ', 'T', 'o', 'a', 's', 't', ' ', 'C', 'r', 'u', 'n', 'c', 'h'], ['F', 'r', 'u', 'i', 't', 'y', ' ', 'P', 'e', 'b', 'b', 'l', 'e', 's'], ['C', 'o', 'o', 'k', 'i', 'e', ' ', 'C', 'r', 'i', 's', 'p'], ['C', 'h', 'e', 'x'], ['K', 'i', 'x']]

### Example

In [8]:
word='amazing'
listified_word = list(word)
print(listified_word)

words=['amazing','view','from','the','hill']
listified_words = list(words)
print(listified_words)

listified_words_2 = map(list, words)
print(listified_words_2)

listified_words_2 = list(map(list, words))
print(listified_words_2)

principal = [1000, 2000, 3000, 4000]
time = [1, 2, 1, 3]
rate = [5, 4, 7, 5]

interest= (lambda x, y, z: x*y*z/100, principal, time, rate)
print(interest)

interest= map(lambda x, y, z: x*y*z/100, principal, time, rate)
print(interest)

interest= list(map(lambda x, y, z: x*y*z/100, principal, time, rate))
print(interest)

['a', 'm', 'a', 'z', 'i', 'n', 'g']
['amazing', 'view', 'from', 'the', 'hill']
<map object at 0x00000187197890A0>
[['a', 'm', 'a', 'z', 'i', 'n', 'g'], ['v', 'i', 'e', 'w'], ['f', 'r', 'o', 'm'], ['t', 'h', 'e'], ['h', 'i', 'l', 'l']]
(<function <lambda> at 0x000001871978D670>, [1000, 2000, 3000, 4000], [1, 2, 1, 3], [5, 4, 7, 5])
<map object at 0x0000018719789CD0>
[50.0, 160.0, 210.0, 600.0]

### 5. reduce()

In [9]:
"""Reduce"""
from functools import reduce

home_prices = [450000.00, 800000.00, 1200000.00, 540500.00, 10400500.00, 2030000.00]
downpayment_rate = [.10, .15, .20, .30, .10, .035]
monthly_payment_30 = 360

downpayment_for_homes = list(map(lambda x, y: x * y, home_prices, downpayment_rate))
monthly_payments_30y = list(map(lambda x : int(x/monthly_payment_30), home_prices))

total_value_of_owned_homes = reduce(lambda x, y : x + y, home_prices)

print("House Downpayments: ", downpayment_for_homes)
print('Monthly Payments Over 30 Years: ', monthly_payments_30y)
print('Total Inventory Value: ', total_value_of_owned_homes)

House Downpayments:  [45000.0, 120000.0, 240000.0, 162150.0, 1040050.0, 71050.0]
Monthly Payments Over 30 Years:  [1250, 2222, 3333, 1501, 28890, 5638]
Total Inventory Value:  15421000.0

### Example

In [10]:
accessories =['watch','sunglasses','earphones','necklace']
price=[3000, 4000, 2500, 25000]

total_worth=reduce(lambda x,y: x+y, price)
total_worth

34500

### 6. filter()

In [11]:
# function that filters vowels
def fun(variable):
    letters = ['a', 'e', 'i', 'o', 'u']
    if (variable in letters):
        return True
    else:
        return False
 
 
# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']
 
# using filter function
filtered = filter(fun, sequence)
 
print('The filtered letters are:')
for s in filtered:
    print(s)

The filtered letters are:
e
e

In [12]:
# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
 
# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))
 
# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

In [13]:
# Define a function to check 
# if a number is a multiple of 3
def is_multiple_of_3(num):
    return num % 3 == 0
 
 
# Create a list of numbers to filter
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
 
# Use filter and a lambda function to
# filter the list of numbers and only
# keep the ones that are multiples of 3
result = list(filter(lambda x: is_multiple_of_3(x), numbers))
 
# Print the result
print(result)

[3, 6, 9]

### Example

In [14]:
threat_words=['bomb','gun','knife']
lambda_func= lambda x: True if x in threat_words else False

examples=['bom','bread','guiness','knife']

filtered= filter(lambda_func, examples)
for n in filtered:
    print(n)
    
    
numbers=[1,3.5,7.6,6,8,10.11,87,46.7,-11]
filtered_numbers=list(filter(lambda x: True if type(x) == type(-1) else False, numbers))
print(filtered_numbers)

knife
[1, 6, 8, 87, -11]